services:
  nebula-sync:
    image: ghcr.io/lovelaze/nebula-sync:latest
    container_name: nebula-sync
    restart: unless-stopped
    user: 1234:1234
    secrets:
      - primary
      - replicas
    environment:
    - TZ=Europe/Vienna
    - PRIMARY_FILE=/run/secrets/primary
    - REPLICAS_FILE=/run/secrets/replicas
    - FULL_SYNC=false
    - RUN_GRAVITY=true
    - CRON=*/15 * * * *
    - SYNC_GRAVITY_GROUP=true
    - SYNC_GRAVITY_AD_LIST=true
    - SYNC_GRAVITY_AD_LIST_BY_GROUP=true
    - SYNC_GRAVITY_DOMAIN_LIST=true
    - SYNC_GRAVITY_DOMAIN_LIST_BY_GROUP=true
    - SYNC_GRAVITY_CLIENT=true
    - SYNC_GRAVITY_CLIENT_BY_GROUP=true
    - SYNC_CONFIG_NTP=true
    - SYNC_CONFIG_DNS=true

secrets:
  primary:
    file: ${NS_DIR}/secrets/primary.txt
  replicas:
    file: ${NS_DIR}/secrets/replicas.txt
