services:
  phpmyadmin:
    image: phpmyadmin:5.2.3
    container_name: phpmyadmin
    restart: unless-stopped
    ports:
      - "8989:80"
    environment:
      # PMA_ARBITRARY: 1
      PMA_VERBOSE: ${VERBOSE}
      PMA_HOST: ${MYSQL_HOST}
      PMA_PORT: ${MYSQL_PORT}
      PMA_USER: ${MYSQL_USER}
      PMA_PASSWORD: ${MYSQL_PASSWORD}
      PMA_SSL: 1
      #PMA_ABSOLUTE_URI: ${PMA_ABSOLUTE_URI}
      MEMORY_LIMIT: 512M           # Default: 512M
      UPLOAD_LIMIT: 2048M          # Default: 2048K (file upload size)
      MAX_EXECUTION_TIME: 600      # Default: 600 (seconds)
      TZ: Europe/Vienna
    # user: "1000:1000"
    volumes:
    #  - ${PMA_DIR}/sessions:/sessions
    #  - ${PMA_DIR}/config/config.user.inc.php:/etc/phpmyadmin/config.user.inc.php
    #  - ${PMA_DIR}/themes:/www/themes/mytheme:ro
      - ${PMA_DIR}/uploads:/var/www/html/upload
    networks:
      - pma_network

networks:
  pma_network:
    external: true
