services:
  nginx:
    image: nginx:1.27-alpine
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ${NGINX_DIR}/build:/usr/share/nginx/html:ro
      - ${NGINX_DIR}/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped
